<table>
  <tr>
    <th *ngFor="let header of headers">{{header}}</th>
  </tr>
  <tr *ngFor="let month of months; let i = index">
    <td>{{month}}</td>
    <td>{{bruttoMonthlySalaries[i].toFixed(2)}}</td>
    <td>{{ubezpieczenieEmerytalne[i].toFixed(2)}}</td>
    <td>{{ubezpieczenieRentowe[i].toFixed(2)}}</td>
    <td>{{ubezpieczenieChorobowe[i].toFixed(2)}}</td>
    <td>{{ubezpieczenieZdrowotne[i].toFixed(2)}}</td>
    <td>{{podstawaOpodatkowania[i].toFixed(2)}}</td>
    <td>{{zaliczkaPit[i].toFixed(2)}}</td>
    <td>{{nettoMonthlySalaries[i].toFixed(2)}}</td>
  </tr>
  <tr class="total">
    <td>Total</td>
    <td>{{bruttoSalaryTotal.toFixed(2)}}</td>
    <td>{{ubezpieczenieEmerytalneTotal.toFixed(2)}}</td>
    <td>{{ubezpieczenieRentoweTotal.toFixed(2)}}</td>
    <td>{{ubezpieczenieChoroboweTotal.toFixed(2)}}</td>
    <td>{{ubezpieczenieZdrowotneTotal.toFixed(2)}}</td>
    <td>{{podstawaOpodatkowaniaTotal.toFixed(2)}}</td>
    <td>{{zaliczkaPitTotal.toFixed(2)}}</td>
    <td>{{nettoTotal.toFixed(2)}}</td>
  </tr>
</table>